.container{
height: 800px;
width: 800px;
border: 2px solid dlack;
  
}
.black{
height: 100px;
width: 100px;
background-color: red;
float: left;
border: 2px solid black ;
font-size: 70px;
box-sizing: border-box;
text-align: center;
}
.white{
  height: 100px;
  width: 100px;
  background-color: white;
  float: left;
  border: 2px solid rgb(0, 0, 0) ;
  font-size: 70px;
  box-sizing: border-box;
  text-align: center;
}
